.task-upper-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

#a {
  background-color: hsl(15, 100%, 70%);
}

#b {
  background-color: hsl(195, 74%, 62%);
}

#c {
  background-color: hsl(15, 100%, 70%);
}

#d {
  background-color: hsl(145, 58%, 55%);
}

#e {
  background-color: hsl(43, 84%, 65%);
}

#f {
  background-color: hsl(264, 64%, 52%);
}

.task-image {
  padding: 0 1rem 0 0;
  height: 35%;
  width: 35%;
  align-self: flex-end;
}
.task-container {
  background-color: var(--component-background);
  border-radius: 1rem;
  padding-right: 1rem;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-title {
  padding: 1rem;
  font-size: 18px;
}

.taskbutton {
  border-style: unset;
  font-size: 2rem;
  background-color: var(--component-background);
}

.button-image {
  position: relative;
  bottom: 10px;
}

.current-time {
  padding: 0 2rem 0 1rem;
  font-size: 3rem;
  font-weight: 100;
}

.previous-time {
  padding: 1rem;
  font-size: 16px;
}
