.user-component {
  background-color: var(--component-background);
  border-radius: 1rem;
}

.user-container {
  background-color: var(--user-background);
  border-radius: 1rem;
}

.user-component-text {
  padding: 0.5rem;
}

.user-name {
  padding: 0.5rem 1rem 1rem 0.5rem;
}

.timeframe {
  display: block;
  background-color: var(--component-background);
  border-style: unset;
  padding: 0.5rem 1rem;
  margin-left: 10px;
}

.timeframe:hover {
  color: var(--task-hover);
}
