.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--main-background);
}

.user-component {
  display: inline-block;
  background-color: var(--component-background);
  border-radius: 1rem;
}

.user-container {
  background-color: var(--user-background);
  border-radius: 1rem;
}

.user-component-text {
  font-size: 16px;
  padding: 0.5rem;
}

.user-name {
  padding: 0.5rem 1rem 1rem 0.5rem;
}

.timeframe {
  font-size: 16px;
  display: block;
  background-color: var(--component-background);
  border-style: unset;
  padding: 0.5rem 1rem;
  margin-left: 10px;
}

.timeframe:hover {
  color: var(--task-hover);
}

.Tasks-upper-container {
  display: inline-block;
}

.Tasks-lower-container {
  display: flex;
  flex-wrap: wrap;
}
