.App {
  height: 100%;
  background-color: var(--main-background);
  overflow-y: scroll;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-component {
  margin-right: 1rem;
  background-color: var(--component-background);
  border-radius: 1rem;
}

.user-container {
  background-color: var(--user-background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.user-image {
  margin: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  align-self: flex-start;
}

.user-component-text {
  font-size: 16px;
  padding: 2rem 2rem 0 1rem;
}

.user-name {
  font-size: 3rem;
  font-weight: 300;
  padding: 0.5rem 2rem 2rem 1rem;
}

.timeframe {
  font-size: 16px;
  display: block;
  background-color: var(--component-background);
  border-style: unset;
  padding: 0.75rem 1rem;
  margin-left: 10px;
}

.timeframe:hover {
  color: var(--task-hover);
}

.Tasks-outer-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.Tasks-inner-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
